/********GLOBAL*******/
* {
  box-sizing: border-box;
}
* img {
  width: 100%;
}

ul li {
  text-decoration: none;
  padding: 0;
  list-style: none;
}

/**************************/
.nav-bar {
  display: flex;
  align-items: center;
}

.github-icon {
  display: flex;
}
.github-icon i.fa-github {
  color: #FFF;
  font-size: 2.5rem;
  padding-top: 2px;
}

.search-bar {
  background-color: #3F4448;
  height: 2.5rem;
  width: 22rem;
  border: 0;
  margin-left: 11px;
}

.top-nav {
  color: #FFF;
  font-size: 14px;
}

.top-nav:hover {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.header-section {
  display: flex;
  padding: 0.688rem;
  background-color: #23292E;
}

.top-right-nav {
  align-items: center;
  justify-content: flex-end;
  color: #FFF;
}

/****************************************/
/********** ASIDE ************************/
#sm-profile-img {
  width: 20px;
  height: 20px;
}

.aside-section {
  padding-left: 0;
  width: 17.5rem;
  height: 35.55rem;
  padding-right: 16px;
}

.profile-img-section {
  padding: 0;
}

.lg-profile-img {
  width: 16.5rem;
}
.lg-profile-img #profile-img {
  width: 16.5rem;
  height: 16.438rem;
}

.set-status {
  border: 1px solid #E1E4E8;
  padding: 0.5rem;
}
.set-status span {
  color: #586069;
}

i.fa-laugh {
  color: #586069;
}

.user-section {
  padding-right: 0;
  padding-left: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 16.5rem;
}

.user-name {
  width: 100%;
}

#user-name {
  font-size: 26px;
}

.name-section {
  line-height: 30px;
}

#nick-name {
  font-size: 20px;
  color: #666;
}

.edit-btn {
  color: #24292e;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
}

.organize-img {
  width: 35px;
  height: 35px;
}

/************************************************/
/********* main section Nav *************************/
.main-content-nav {
  border-bottom: 1px solid #D0D5DB;
}

.profile-nav {
  width: 70%;
}

.profile-section-nav {
  font-size: 14px;
  text-decoration: none;
  padding-bottom: 1rem;
  color: #586069;
  border-bottom: 2px solid transparent;
}

.profile-section-nav:hover {
  color: #24292e;
  text-decoration: none;
  border-bottom-color: #d1d5da;
  transition: 0.2s ease;
}

.circle-in-nav {
  position: relative;
  color: #EDEDEE;
}
.circle-in-nav .number-in-circle-nav {
  position: absolute;
  right: 3px;
  color: #57606A;
}

/*********************************************************/
/************** REP0 FILTER AND SEARCH BAR ****************************/
.reposi-name-search {
  width: 31rem;
}

.type-dropdown {
  width: 5.765rem;
  font-size: 14px;
  color: #24292E;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
}

.lang-dropdown {
  width: 7.834rem;
  font-size: 14px;
  color: #24292E;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
}

.new-btn {
  background-color: #00AC53 !important;
  font-size: 14px;
}

svg.octicon.octicon-repo {
  fill: #FFF;
}

/**************************************************************/
/*************** REPO-LIST  ********************************************/
.repo-lang-color {
  background-color: #e34c26;
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.star-button {
  color: #24292e;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
}

.repo-name {
  font-size: 20px;
}

.time-of-repo {
  color: #586069;
}

/******************************************************************/
.git-bottom-icon {
  font-size: 20px;
  color: #C5CBD2;
}

/*# sourceMappingURL=styles.css.map */
